*{
    border: 0;
    padding: 0;
    margin: 0;
}

body{
     font-family: 'Roboto', sans-serif;
     background-color: rgba(18, 18, 18, 0.233);
}
:root {
  --primary-color: #00F6FF; 
}

sup{
    color: red;
    font-size: large;
}
.heroSection{
    min-height: 40vh;
    background-color: rgba(0, 0, 0, 0.863);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav{
    background-color: black;
}


nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 1.5rem;  
}

nav li a {
  text-decoration: none;
   color: var(--primary-color);
}

nav li a:hover, nav li a:active{
    text-decoration: underline;
}

.containes-heading{
   color: var(--primary-color);
}

/* Service */
ul{
    list-style: none;
}
.services-container > ul:nth-of-type(2){
    list-style-type: square;
}
.services-container ul li{
    /* border: 1px solid red; */
}

/* contact */
.contact-container{
    margin-left: 32px;
}
#contact form{
    width: 75%;
}
@media (max-width: 500px) {
   #contact form{
    width: 100%;
    padding-right: 10px;

}
}